<ion-header>
  <ion-navbar>
    <ion-title>
      Renta de Inmuebles
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-6 *ngFor='let inmueble of inmuebles'>
        <ion-card>
          <img *ngIf="inmueble.hasOwnProperty('pictures')"
          src = {{inmueble.pictures[0].url}}>
          <ion-card-content>
            <h2 *ngIf="inmueble.hasOwnProperty('price')">
              {{inmueble.price.formattedAmount}} {{inmueble.price.currency}}
            </h2>
            <p *ngIf="inmueble.hasOwnProperty('geo')">
              {{inmueble.geo.displayName}}, {{inmueble.geo.name}}
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
